.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
}

html {
  background: rgba(242,250,255,.95)
}

body {
  background: linear-gradient(
    to right bottom,
    rgba(80,126,177,.95),
    rgba(112,157,199,.95) 10%,
    rgba(221,233,245,.95) 30%,
    rgba(234,242,249,.95) 40%,
    rgba(242,250,255,.95) 50%);
  height: 100vh;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.container {
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
  box-shadow:
  0 2px 2px 0 rgba(0,0,0,0.14),
  0 1px 5px 0 rgba(0,0,0,0.12),
  0 3px 1px -2px rgba(0,0,0,0.2);
  background-color: white;
}

.row-container {
  margin-top: 5px;
}

.status {
  display: flex;
}

.App-logo {
  height: 1.5em;
}

.table {
  margin-bottom: 0;
}

.columns {
  flex-direction: column;
  margin-bottom: 3px;
  border-radius: 3px;

  margin-top: 0; /* framework override */
  margin-left: 0; /* framework override */
  margin-right: 0; /* framework override */

  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.14);
}

.columns-header {
  display: flex;
  font-variant: all-petite-caps;
}

/* framework override */
.columns:last-child, .columns:not(:last-child) {
  margin-bottom: 0 !important;
}

.box {
  text-align: left;
}

.Operational {
  background-color: #2ecc71;
  color: white;
}

.Warning {
  background-color: #f1c40f;
  color: white;
}

.Danger {
  background-color: #e74c3c;
  color: white;
}

.flight-info-row .status{
    cursor: pointer;
}

.Operational a, .Warning a, .Danger a {
  color: white;
  text-decoration: underline;
}

.App-header {
  padding: 20px;
  padding-bottom: .5em;
  align-self: left;
  margin-left: 10%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
